// VARIABLES

//************************************************
//** Colors
//************************************************

//Primary Colors
$black:             #000000;
$white: 	        #ffffff;
$black-transparent: rgba(0,0,0,0.8);
$darkgrey:          #444444;
$lightgrey:         #f1f1f1;

$lightbrown:        #C9C2B6;
$brown:             #8B572A;


/*******************************************************************************
** Functions
*/
$base-font-size: 16px;

@function rem($target) {
  @return ($target / $base-font-size) * 1rem;
}

/*******************************************************************************
** Img Path
*/

$img-path:            '../img';
$imglayout-path:     '../img/layout';


/*******************************************************************************
** Mixins
*/

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin ulreset {
  margin:0;
  padding:0;
  list-style:none;
}

/*******************************************************************************
** Responsive Breakpoints
*/

@mixin desktop-xxl {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: 1441px) and (max-width: 1600px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) and (max-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}


/*******************************************************************************
** Fonts
*/

// Titel 1
@mixin font-title1() {
  @include font-smoothing();
  font-family: 'Merriweather', serif;
  font-weight: 800;
  font-size: rem(80px);
  line-height: rem(90px);
  letter-spacing: rem(2px);
  margin: rem(0px);
  padding: rem(0px);
  text-transform: uppercase;
  color: $black;
  @include tablet {
    font-size:rem(55px);
    line-height:rem(72px);
  }
  @include mobile {
    font-size:rem(38px);
    line-height:rem(37px);
    letter-spacing: rem(1px);
  }
}

// Titel 2
@mixin font-title2() {
  @include font-smoothing();
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: rem(16px);
  line-height: rem(27px);
  color: $darkgrey;
  margin: rem(32px) 0 rem(16px);
  letter-spacing: rem(0.5px);
  padding: rem(0px);
  text-transform: uppercase;
}

// Titel 3
@mixin font-title3() {
  @include font-smoothing();
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: rem(20px);
  line-height: rem(32px);
  color: $darkgrey;
  margin: rem(0px);
  padding: rem(0px);
}

// Lead
@mixin font-lead() {
  @include font-smoothing();
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: rem(20px);
  line-height: rem(32px);
  color: $darkgrey;
  margin: rem(0px);
  padding: rem(0px);
}

// Copy
@mixin font-copy() {
  @include font-smoothing();
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: rem(17px);
  line-height: rem(27px);
  color: $darkgrey;
  margin: rem(0px);
  padding: rem(0px);
  letter-spacing: rem(0.25px);
}

// Copy small
@mixin font-copy-sml() {
  @include font-smoothing();
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  font-size: rem(13px);
  line-height: rem(28px);
  color: $darkgrey;
  margin: rem(0px);
  padding: rem(0px);
}

// Buttons, Tabs, Header
@mixin font-button() {
  @include font-smoothing();
  font-family: 'Merriweather', serif;
  font-weight: 800;
  font-size: rem(20px);
  line-height: rem(30px);
  color: $white;
  text-transform: uppercase;
  @include font-smoothing();
  margin: rem(0px);
  padding: rem(0px);
  letter-spacing: rem(1.5px);
  @include mobile {
    font-size: rem(16px);
    line-height: rem(16px);
    letter-spacing: rem(1px);
  }
}

// Footer, Labels
@mixin font-label() {
  @include font-smoothing();
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: rem(17px);
  line-height: rem(28px);
  color: $darkgrey;
  text-transform: uppercase;
  margin: rem(0px);
  padding: rem(0px);
  text-decoration: none;
}