.nav {
  background-color: $lightgrey;
  padding: rem(8px);
  overflow: hidden;
  .nav__inner-wrap {
    @include ulreset();
    display: flex;
    flex-wrap: wrap;
  }
  .nav__item {
    @include font-copy();
    margin: rem(8px);
    padding: rem(4px) rem(8px) rem(4px) rem(32px);
    cursor: pointer;
    width: 100%;
    &:before {
      content: "";
      position: absolute;
      width: rem(20px);
      height: rem(24px);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: rem(-32px);
    }
    &.nav__item-inbox {
      &:before {
        background-image: url("../img/icons/inbox.svg");
      }
    }
    &.nav__item-all-tasks {
      &:before {
        background-image: url("../img/icons/date.svg");
      }
    }
    &.nav__item-prio {
      &:before {
        background-image: url("../img/icons/prio.svg");
      }
    }
  }
}


.nav__item-show-down {
  @include font-copy-sml();
  margin-top: rem(32px);
  border-top: 1px solid black;
  padding: 0;
  display: block;
  width: 100%;
  padding-top: rem(4px);
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    ~ label {
      position: relative;
      margin-bottom: 0;
      vertical-align: top;
      padding-left: rem(40px);
      &:after {
        position: absolute;
        top: 2px;
        left: 0;
        display: block;
        width: rem(32px);
        height: 20px;
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../img/icons/toggl-off.svg");
        opacity: 0.3;
      }
    }
    &:checked~label:after {
      background-image: url("../img/icons/toggl-on.svg");
      opacity: 1;
    }
  }
}

.style-1 {
  .nav {
    background-color: $lightbrown;
  }
}