*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

::selection {
    background: $lightgrey;
}

::-moz-selection {
    background: $lightgrey;
}

.scroll-disabled {
    overflow: hidden;
    position: relative;
}

fieldset {
    padding: rem(0px);
    margin: rem(0px);
    border: none;
}

.btn {
    border: none;
    padding: rem(4px);
    background-color: $black;
    color: $white;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 280px auto;
    grid-column-gap: 16px;
    min-height: calc(100vh - 95px);
}

.btn--add-task {
    position: fixed;
    bottom: rem(48px);
    right: rem(32px);
    width: 56px;
    height: 56px;
    padding-top: 11px;
    text-align: center;
    background: $black;
    border-radius: 100%;
    cursor: pointer;
    transition: opacity 0.15s  ease-out;
    &:hover {
        opacity: 0.8;
    }
}

.style-1 {
    .btn--add-task {
        background-color: $brown;
    }
}