.header {
  @include font-copy();
  background-color: $black;
  color: $white;
  padding: rem(8px);
  display: flex;
  justify-content: space-between;
  .header__title {
    margin: rem(8px);
    padding: rem(4px) rem(8px) rem(4px) rem(8px);
  }
  .header__change-style {
    @include font-copy-sml();
    color: $white;
    margin: rem(8px);
    cursor: pointer;
    border: 1px solid $white;
    border-radius: 100%;
    width: rem(32px);
    height: rem(32px);
    transition: background-color 0.25s ease-out;
    &:before {
      content: "";
      position: absolute;
      width: rem(20px);
      height: rem(24px);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 5px;
      margin-top: 2px;
      background-image: url("../img/icons/color-white.svg");
      transition: background-img 0.25s ease-out;
    }
    &:hover {
      background-color: $white;
      &:before {
        background-image: url("../img/icons/color.svg");
      }
    }
  }
}

.style-1 {
  .header {
    background-color: $brown;
  }
}